.navbar {
    height: 80px;
}

.navbar .wrapper {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.navbar .wrapper .left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar .wrapper .left .item {
    display: flex;
    align-items: center;
}

.navbar .wrapper .center {
    font-size: 30px;
    gap: 2px;
}

.navbar .wrapper .right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar .wrapper .right .icons {
    display: flex;
    gap: 15px;
    color: #777;
    cursor: pointer;
}

.cartIcon {
    position: relative;
}

.cartIcon span {
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2879fe;
    color: white;
    position: absolute;
    right: -10px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}